In [30]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

from copy import copy as copy

In [31]:
# dirty_data = pd.read_excel('./DATA_98.xlsx')
# dirty_data = dirty_data[dirty_data.columns[1:]]
# dirty_data.to_csv('./DATA_98.csv')

In [32]:
dirty_data = pd.read_csv('./DATA_98.csv')
dirty_data = dirty_data[dirty_data.columns[1:]]

In [33]:
def clean_hours(str_hour):
    
    current = str_hour.split(" ")
    output = str_hour
    
    if len(current) > 1:
        if current[1] == 'AM':
            output = current[0]
        elif current[1] == 'PM':
            tmp = current[0].split(":")
            if len(tmp) > 1:
                tmp[0] = str( (int(tmp[0]) % 12) + 12)
                output = ":".join(tmp)
        else:
            pass
    else:
        pass
    
    tmp_out = output.split(":")
    
    if len(tmp_out) == 3:
        if len(tmp_out[0]) == 0:
            output = ":".join(tmp_out[1:3])
        else:
            if int(tmp_out[2]) == 0:
                output = ":".join(tmp_out[:2])
    
    return output

In [34]:
dirty_data.columns

Index(['date', 'ord', 't_i', 'd_v', 'di', 'motive', 'd_e', 't_o', 'piso'], dtype='object')

In [35]:
vals = dirty_data.t_i.values.tolist()
new_vals = [None] * len(vals)

for ii in range(len(vals)):
    new_vals[ii] = clean_hours(vals[ii])

dirty_data.t_i = new_vals

In [36]:
vals = dirty_data.t_o.values.tolist()
new_vals = [None] * len(vals)

for ii in range(len(vals)):
    new_vals[ii] = clean_hours(vals[ii])

dirty_data.t_o = new_vals

In [37]:
dirty_data.piso.unique()

array(['6', '7', '8', '5', 'S1', '1', '2', '9', '4', '5t', 'S2',
       '12:45:00 PM', 'SI', '54', 'TODOS', '21', 'H', '´6', '3', '|',
       'S1 ', '144:00:00', '87', '63', '.+', '25', '85', 'SOT1', 'S|',
       '65', '0', '14', '6+', '66', 'S', 'S11', '}}', 'S|1', '.', 'STI'],
      dtype=object)

In [40]:
dirty_data

,date,ord,t_i,d_v,di,motive,d_e,t_o,piso
0,2017-01-2,1,08:10,PIERRE PONCE RUIZ,43268808,REUNION DE TRABAJO,JOSELYN SOLIS,17:34,6
1,2017-01-2,2,08:20,ERICK BONILLA ANDRADE,9326434,PYT,LUIS PEREZ,09:15,6
2,2017-01-2,3,08:27,ROCIO MORALES BENDEZU,8637254,PADOMI,CARLA URDIALES,08:50,7
3,2017-01-2,4,08:50,ISAIAS CORZO GARCIA,45482311,PERSONANAL,MARIA MARAVI,19:48,6
4,2017-01-2,5,08:52,JUAN DAVILA ARTANGO,41414725,REUNION DE TRABAJO,SERGIO MACHADO,10:40,8
...,...,...,...,...,...,...,...,...,...
17846,2017-12-29,64,15:40,KORINA RAMOS SALAZAR,42156972,VIR Y COR,JELGA ALBUJAR,16:00,S1
17847,2017-12-29,65,15:45,NELLY ROJAS RUMRRILL,36007556,INS,FLOR GARCIA,16:37,6
17848,2017-12-29,66,15:53,LUCRECI LAZARO VALENCIA,10627319,PERSONAL,ELIZABETH IBAÑEZ,17:17,8
17849,2017-12-29,67,16:12,MARLENE FALERA RIPAS,7127045,PERTSONAL,LUZ GARDA QUILLAMA,16:35,6
17850,2017-12-29,68,17:12,CARMEN CAMPOS VASQUEZ,40700173,PERSONAL,MARIA MARAVI,17:37,1

In [58]:
motives = pd.DataFrame(dirty_data.motive.value_counts())
visitant = pd.DataFrame(dirty_data.d_v.value_counts())
destinant = pd.DataFrame(dirty_data.d_e.value_counts())

In [60]:
motives.sort_index()

            motive
,ABORAL          1
10487945         1
24 . 27          3
24 27            1
24.27            2
...            ...
personal         1
}                1
´PERSONAL        4
´PERTSONAL       1
´PROVIOS         1

[3020 rows x 1 columns]

GARY DIAZ             1482
GLORIA GUTIERREZ       536
FERNANDO MORALES       437
JUAN NAVARRO           316
HENRY QUISPE           307
                      ...
GLORA GUJTIERREZ         1
WALTERT SULCA            1
GRERMAN TORRES           1
PSTRICIA PIMENTEL        1
ANTENOR RODRIGUIEZ       1
Name: d_e, Length: 1645, dtype: int64